
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #242424;
  padding: 24px;
  color: #fff;
  
}

.social-icon{
  color:white;
  margin: 12px;
  font-size:1.5rem;
  box-sizing: border-box;
}

small a {
  text-decoration: none;
}
