.tech__container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  align-items: center;
  background-color: transparent;
}

.tech__title {
 color: white;
 padding-bottom: 50px;

}

.skill__container {
  background-color: rgb(203 213 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
  width: 80%;
}

.skill__block {
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.skill__container:hover {
  background-color: rgb(146, 153, 163);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .25s;
}

.skill__item {
  align-items: center;
  flex-direction: column;
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

.skill__icon {
  column-gap: 2rem;
  display: flex;    
  block-size: auto;
  width: 5rem;
}

.name { 
  text-align: center;

}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 860px) {
  .skill__block {
    position: relative;
    flex-direction: column;
  }
}


